*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #16161a;
  font-size: 18px;
  color: #94a1b2;
  font-family: Helvetica;
  line-height: 1.25;
}

header {
  position: fixed;
  width: 100vw;
  background-color:#2cb67d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  padding: 15px;
  z-index: 10;
  letter-spacing: 0.75px;
  top: 0px;
  left: 0px
}

nav a {
  display: inline;
  padding: 0px 20px 0px 0px; 
}

.Spooky {
  float: left;
}

main {
  position: relative;
  margin: 25px;
  top: 25px;
  width: 400px;
}

.story {
  margin-top: 10px;
  text-align: justify;
}

p {
  padding: 15px 0px;
  text-align: justify;
}

.hero {
  padding: 10px;
}

.jump {
  position: sticky;
  top: 500px;
  width:1250px;
}

.scare {
  float: right;
}
