*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #140f0d;
  font-size: 18px;
  color: #78d3b3;
  font-family: Helvetica;
  line-height: 1.25;
}

header {
  position: fixed;
  width: 100vw;
  background-color: #0d9263;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  padding: 15px;
  z-index: 10;
  letter-spacing: 0.75px;
  top: 0px;
  left: 0px
}

nav a {
  display: inline;
  padding: 0px 20px 0px 0px;
  color: #432f0f;
}

.Spooky {
  float: left;
}

main {
  position: relative;
  margin: 40px 0 100px 40px;
  top: 50px;
  width: 500px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 25px;
}

.story {
  margin: 25px 0px;
  text-align: justify;
}

p {
  padding: 15px 0px;
  text-align: justify;
}

.hero {
  width: 100%;
  height: auto;
}

.jump {
  position: sticky;
  top: 700px;
  width:80vw;
}

.scare {
  float: right;
  height: 250px;
  width: auto;
}

i, b {
  color: #00ffa5;
}

a {
  color: #0d9263;
  text-deocoration: none;
}

a: hover {
  color: #FF4500;
  text-decoration: none;
}

.fate {
  background-color: #090401;
}

.secret {
  padding: 450px 0px 0px 0px;
  text-align: center;
}

.terrible {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 150px;
  color: #16ab54
}

.Ben {
  opacity: 15%;
}
